.post_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.posts_header {
    align-self: flex-start;
    font-size: 1.5rem;
}

.card {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 350px;
    height: 300px;
    backdrop-filter: blur(5px);
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.imgContainer img {
    max-width: 100%;
    max-height: 250px;
    border-radius: 4px 4px 0 0;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50vw;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .card {
        max-width: 250px;
        width: 100%;
        height: 300px;
        justify-items: flex-end;
    }

    

    .imgContainer img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 4px 4px 0 0;
    }

    .author {
        width: 100%;
    }
}